<div class="container-miniaturas panel">
  <h2 class="titulo panel">JUEGOS</h2>
  <section class="juegos">
    <app-juego-miniatura
      foto="assets/img/ahorcado.jpg"
      nombreJuego="Ahorcado"
      pathJuego="ahorcado"
      [tamanioFoto]="{ alto: '300', ancho: '300' }"
    ></app-juego-miniatura>

    <app-juego-miniatura
      foto="assets/img/preguntados.jpg"
      nombreJuego="Preguntados"
      pathJuego="preguntados"
      [tamanioFoto]="{ alto: '300', ancho: '300' }"
    ></app-juego-miniatura>

    <app-juego-miniatura
      foto="assets/img/mayorOMenor.jpg"
      nombreJuego="Mayor o menor"
      pathJuego="mayor-o-menor"
      [tamanioFoto]="{ alto: '300', ancho: '300' }"
    ></app-juego-miniatura>

    <app-juego-miniatura
      foto="assets/img/wordle.jpg"
      nombreJuego="Wordle"
      pathJuego="wordle"
      [tamanioFoto]="{ alto: '300', ancho: '300' }"
    ></app-juego-miniatura>
  </section>
</div>
